<input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>


<div class="progress">

    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

    </mat-progress-bar>

    <ion-icon name="close-outline" *ngIf="uploadProgress">Delete</ion-icon>

</div>

<div class="file-upload">

    {{fileName || "No file uploaded yet."}}

    <ion-button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <ion-icon name="document-outline">Attach File</ion-icon>
    </ion-button>

</div>