<ion-content overflow-scroll="false">



    <div id="site-content">
        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="content" *ngIf="this.poster">
                        <!-- <div class="row">
                                <div class="col-md-6">
                
                                </div>
                            </div> -->
                        <ion-buttons slot="start">
                            <ion-back-button animated text="Back" defaultHref="/tabs/tab2"></ion-back-button>
                        </ion-buttons>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="movie-poster"><img [src]="this.poster"></figure>
                            </div>
                            <div class="col-md-6">
                                <h2 class="movie-title">{{this.movie.title}}</h2>
                                <div class="movie-summary">
                                    <h3>{{this.movie.tagline}}</h3>


                                </div>
                                <ul class="movie-meta">
                                    <li><strong>Rated:</strong> {{this.movie.vote_average}}/10</li>
                                    <li><strong>Length:</strong> {{this.movie.runtime}} min</li>
                                    <li><strong>Premiere:</strong> {{this.movie.released_year}}</li>
                                    <li><strong>Budget:</strong> {{this.movie.budget}}</li>
                                    <li><strong>Revenue:</strong> {{this.movie.revenue}}</li>
                                    <li><strong>Popularity:</strong> {{this.movie.popularity}}</li>
                                    <li><strong>Average Rating:</strong> {{this.movie.avg_rating}}</li>
                                    <li><strong>Adult:</strong> {{this.movie.adult}}</li>
                                    <li><strong>Language:</strong> <span
                                            *ngFor="let language of this.movie.language_list">{{language}} </span></li>
                                    <li><strong>Countries:</strong> <span
                                            *ngFor="let country of this.movie.country_list">{{country}} </span></li>
                                    <li><strong>Genres:</strong> <span
                                            *ngFor="let genre of this.movie.genre_list">{{genre}} </span></li>
                                    <li>
                                        <strong>Summary:</strong>
                                        <div class="entry-content">
                                            <p>{{this.movie.overview}}</p>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="starring">
                                    <li><strong>Directors:</strong> Kirk de Mico (as Kirk DeMico). Chris Sanders</li>
                                    <li><strong>Writers:</strong> Chris Sanders (screenplay), Kirk De Micco (screenplay)
                                    </li>
                                    <li><strong>Stars:</strong> Nicolas Cage, Ryan Reynolds, Emma Stone</li>
                                </ul>
                            </div>
                        </div>
                        <!-- .row -->


                        <!-- Charts -->
                        <div *ngIf="this.movie.status == 'Released'">
                            <div>
                                <h4 class="movie-title">Like Dislike Ratio</h4>

                            </div>
                            <div class="graph-title">
                                <h5 class="movie-title">Tag Data and Activity/ Rating Trend</h5>
                                <ion-button #tagdataToggle style="margin-right: 0; margin-left: auto;"
                                    (click)="collapseToggle('tagdataToggle')">
                                    <ion-icon name="chevron-down-outline" icon-only></ion-icon>
                                </ion-button>
                            </div>
                            <div class="graph-container" *ngIf="this.toggleDict['tagdataToggle']">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li><strong>Tags:</strong><span
                                                    *ngFor="let tag of this.movie.tag_labels">{{tag}} </span></li>
                                        </ul>
                                        <div style="display: block">
                                            <canvas baseChart [datasets]="scatterChartData"
                                                [labels]="scatterChartLabels" [options]="scatterChartOptions"
                                                [chartType]="scatterChartType">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="display: block" class="chart_colors">
                                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                                [options]="lineChartOptions" [chartType]="lineChartType"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="graph-title">
                                <h5 class="movie-title">Viewer's Genre Average Percentile Difference</h5>
                                <ion-button #genreavgToggle style="margin-right: 0; margin-left: auto;"
                                    (click)="collapseToggle('genreavgToggle')">
                                    <ion-icon name="chevron-down-outline" icon-only></ion-icon>
                                </ion-button>
                            </div>
                            <div class="graph-container" *ngIf="this.toggleDict['genreavgToggle']">

                                <div style="display: block">
                                    <canvas baseChart [datasets]="barChartData" [labels]="pieChartLabels"
                                        [options]="barChartOptions" [legend]="barChartLegend"
                                        [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>

                            <div class="graph-title">
                                <h5 class="movie-title">Viewer's Genre Distribution</h5>
                                <ion-button #genredistToggle style="margin-right: 0; margin-left: auto;"
                                    (click)="collapseToggle('genredistToggle')">
                                    <ion-icon name="chevron-down-outline" icon-only></ion-icon>
                                </ion-button>
                            </div>
                            <div class="graph-container" *ngIf="this.toggleDict['genredistToggle']">

                                <div style="display: block">
                                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels"
                                        [chartType]="pieChartType"></canvas>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="this.movie.status == 'Upcoming'">
                            <group8-file-upload requiredFileType="text/csv"></group8-file-upload>
                        </div>

                        <div class="graph-title">
                            <h5 class="movie-title">User Segmentation by Collaborative Filtering</h5>
                            <ion-button #usersegmentButton style="margin-right: 0; margin-left: auto;"
                                (click)="collapseToggle('usersegmentButton')">
                                <ion-icon name="chevron-down-outline" icon-only></ion-icon>
                            </ion-button>
                        </div>
                        <div class="graph-container" *ngIf="this.toggleDict['usersegmentButton']">

                            <div style="display: block">
                                <canvas baseChart [data]="cf_piechart_data" [labels]="cf_piechart_labels"
                                    [chartType]="pieChartType"></canvas>
                            </div>

                            <br>

                            <!-- Table -->

                            <!-- <div>
                                <p-table>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Genre_name</th>
                                            <th>User ID</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body">
                                        <tr *ngFor="let genre of this.cf_piechart_labels">
                                            <td>
                                                {{genre}}
                                            </td>
                                            <td>
                                                {{this.cf_res[genre]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div> -->

                            <table style="display: block" class="styled-table">
                                <tr>
                                    <th>Genre Name</th>
                                    <th>User ID</th>
                                </tr>
                                <tr *ngFor="let genre of this.cf_piechart_labels" class="active-row">
                                    <td> {{genre}} </td>
                                    <td class="fitToCell"> {{this.cf_res[genre]}} </td>
                                </tr>
                            </table>

                        </div>

                        <!-- <div style="display: block">
                            <canvas baseChart
                                    [datasets]="radarChartData"
                                    [labels]="radarChartLabels"
                                    [chartType]="radarChartType"></canvas>
                        </div>

                        <div style="display: block">
                            <canvas baseChart
                                        [data]="doughnutChartData"
                                        [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType"></canvas>
                        </div> -->

                    </div>
                </div>
            </div>
            <!-- .container -->
        </main>
    </div>
    <!-- Default snippet for navigation -->



    <!-- <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script> -->

</ion-content>