<ion-content>

    <div id="site-content">
        <main class="main-content">
            <div class="container">
                <div class="page">
                    <h2>Search</h2>
                    <div class="search-bar">
                        <div class="bar">
                            <ion-searchbar animated showCancelButton="never" placeholder="" type="text" #searchBar (ionClear)="searchClear($event)" (ionBlur)="checkSearch($event)">

                            </ion-searchbar>

                        </div>

                        <div class="sortby">
                            <ion-select [(ngModel)]="selected_sort" interface="popover" #sortCriteria placeholder="Sort By" (ionChange)="selectChange($event)">
                                <ion-select-option value="popularity">Popularity</ion-select-option>
                                <ion-select-option value="polarity">Polarity</ion-select-option>
                                <ion-select-option value="title">Title</ion-select-option>
                                <ion-select-option value="year">Year</ion-select-option>
                            </ion-select>
                            <ion-select [(ngModel)]="selected_order" interface="popover" #sortOrder placeholder="Order By" (ionChange)=" selectChange($event) ">
                                <ion-select-option value="true">Ascending</ion-select-option>
                                <ion-select-option value="false">Descending</ion-select-option>
                            </ion-select>
                        </div>
                        <div class="advancedButton">
                            <ion-button (click)="templateSearch()">
                                Search
                            </ion-button>
                        </div>
                        <div class="advancedButton">
                            <ion-button (click)="reset()">Reset
                            </ion-button>
                        </div>
                        <div class="advancedButton">
                            <ion-button (click)="toggleAdvanced()">
                                <ion-icon name="options"></ion-icon>
                            </ion-button>
                        </div>

                    </div>
                    <div class="dropDownAdvanced" *ngIf="this.advanced">

                        <div class="advanced-search">
                            <div class="filters">
                                <!-- <ion-select interface="popover " #filterYear placeholder="Year ">
                                        <ion-select-option value="2012 ">2012</ion-select-option>
                                        <ion-select-option value="2013 ">2013</ion-select-option>
                                        <ion-select-option value="2014 ">2014</ion-select-option>
                                    </ion-select> -->
                                <ion-select interface="popover" #filterRating placeholder="Rating" style="margin-top: 5px;">
                                    <ion-select-option value="0">0+</ion-select-option>
                                    <ion-select-option value="1">1+</ion-select-option>
                                    <ion-select-option value="2">2+</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                    <ion-select-option value="4">4+</ion-select-option>
                                </ion-select>
                                <ion-label style="margin-top: 15px; margin-right: 5px;">Range:</ion-label>
                                <ion-range [(ngModel)]="rangeValues" #rangeYear dualKnobs="true" min="1888" max="2020" pin tick-active style="margin-bottom: 5px;">
                                    <ion-label slot="start">1888</ion-label>
                                    <ion-label slot="end">2021</ion-label>
                                </ion-range>
                            </div>

                            <div style="margin-right:0; margin-left: auto;">
                                <ion-segment value="Released" #segmentRelease>
                                    <ion-segment-button value="Released">
                                        <ion-label>Released</ion-label>
                                    </ion-segment-button>
                                    <ion-segment-button value="Both">
                                        <ion-label>Both</ion-label>
                                    </ion-segment-button>
                                    <ion-segment-button value="Upcoming">
                                        <ion-label>Upcoming</ion-label>
                                    </ion-segment-button>
                                </ion-segment>
                            </div>
                        </div>
                        <div class="advanced-search">
                            <div class="tag-chips">
                                <ion-chip [color]="tagDefaultColor[i]" (click)="changeTagColor(i)" *ngFor="let tag of tags; let i=index">
                                    <ion-label>{{tag}}</ion-label>
                                </ion-chip>
                            </div>
                        </div>
                    </div>
                    <!-- <div>
                            <ion-item>
                                <ion-range dualKnobs="true " min="1950 " max="2020 " pin tick-active>
                                    <ion-label slot="start ">1888</ion-label>
                                    <ion-label slot="end ">2021</ion-label>
                                </ion-range>
                            </ion-item>
                        </div> -->

                    <div class="movies-container">
                        <div class="movie-list">
                            <div class="movie" *ngFor="let movie of this.movies">
                                <ion-badge color="warning" *ngIf="movie.status=='Released'">{{movie.vote_average}}</ion-badge>
                                <a href="tabs/tab2/{{movie.mid}}">
                                    <figure class="movie-poster "><img [src]="getImage(movie.poster_path) "></figure>
                                </a>
                                <div class="movie-title ">
                                    <a (click)="goToReview(movie.mid)">{{movie.title}}</a></div>
                                <p>{{movie.tagline}}</p>
                            </div>

                        </div>
                        <!-- <ion-fab vertical="bottom " edge horizontal="start " slot="fixed ">
                            <ion-fab-button>
                                <ion-icon name="arrow-up-circle "></ion-icon>
                            </ion-fab-button>
                        </ion-fab> -->
                        <ion-infinite-scroll (ionInfinite)="loadData($event) ">
                            <ion-infinite-scroll-content loadingSpinner="bubbles " loadingText="Loading movies... ">
                            </ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                    </div>

                    <!-- .movie-list -->
                </div>
            </div>

            <!-- <div class="bottom-buttons " *ngIf="this.movies ">
                        <ion-button>Load More</ion-button>
                        <ion-button (click)="bottomButton() ">
                            <ion-icon slot="icon-only " name="arrow-up-outline "></ion-icon>
                        </ion-button>
                    </div> -->
            <!-- .container -->

        </main>

        <footer class="site-footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-3 ">
                        <div class="widget ">
                            <h3 class="widget-title ">About Us</h3>
                            <p>We are a group of multidisciplinary engineering student at UCL with a passion for film and product development. </p>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="widget ">
                            <h3 class="widget-title ">Contact</h3>
                            <ul class="no-bullet ">
                                <li>Email: zcabktu@ucl.ac.uk</li>
                                <li>Call: +44 7444474060</li>
                                <li> <br> University College London, <br> Gower Street, <br> London, WC1E 6BT </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .row -->

                <div class="colophon ">Copyright 2021 IMDB, No rights reserved</div>
            </div>
            <!-- .container -->

        </footer>
    </div>
    <!-- Default snippet for navigation -->



    <script src="js/jquery-1.11.1.min.js "></script>
    <script src="js/plugins.js "></script>
    <script src="js/app.js "></script>


</ion-content>