<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>


    <body>


        <div id="site-content">
            <main class="main-content">
                <div class="container">
                    <div class="page">
                        <div class="search-bar">
                            <div class="bar">
                                <h2>Search</h2>
                                <ion-searchbar animated showCancelButton="never" placeholder="" type="text" id="messageInput">

                                </ion-searchbar>

                            </div>
                            <div class="advancedButton">
                                <h2 style="color:transparent ">Search</h2>
                                <ion-button>
                                    Search
                                </ion-button>
                            </div>
                            <div class="sortby ">
                                <h2 style="color:transparent ">Search</h2>
                                <select name="# " id="# " placeholder="Category ">
                                    <option value="# ">Popularity</option>
                                    <option value="# ">Polarity</option>
                                    <option value="# ">Release Date</option>
                                    <option value="# ">Name</option>
                                    <option value="# ">Year</option>
                                </select>
                                <select name="# " id="# " placeholder="Order ">
                                    <option value="# ">Ascending</option>
                                    <option value="# ">Descending</option>
                                </select>
                                <ion-button (click)="toggleAdvanced() ">
                                    <ion-icon name="options-outline"></ion-icon>
                                </ion-button>

                            </div>

                        </div>
                        <div class="dropDownAdvanced " *ngIf="this.advanced ">
                            <div class="advanced-search ">
                                <div class="filter ">
                                    <h2>Filters</h2>
                                    <select name="# " id="# " placeholder="Year ">
                              <option value="# ">2012</option>
                              <option value="# ">2013</option>
                              <option value="# ">2014</option>
                            </select>
                                    <select name="# " id="# " placeholder="Rating ">
                              <option value="# ">1+</option>
                              <option value="# ">2+</option>
                              <option value="# ">3+</option>
                              <option value="# ">4+</option>
                            </select>
                                </div>


                            </div>
                            <div class="advanced-search ">
                                <div class="tag-chips ">
                                    <ion-chip *ngFor="let tag of tags ">
                                        <ion-label [ngStyle]="{ '--background':getChipColor(tag)} ">{{tag}}</ion-label>
                                    </ion-chip>
                                </div>
                            </div>
                        </div>
                        <div class="movie-list ">
                            <div class="movie ">
                                <ion-badge color="warning " class="top-three ">1</ion-badge>
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-3.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Maleficient</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <ion-badge color="warning " class="top-three ">2</ion-badge>
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-4.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">The adventure of Tintin</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <ion-badge color="warning " class="top-three ">3</ion-badge>

                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-5.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Hobbit</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">

                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-6.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Exists</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-1.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Drive hard</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-2.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Robocop</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-7.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Life of Pi</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-4.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">The adventure of Tintin</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-8.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">The Colony</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-6.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Exists</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-5.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Hobbit</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                            <div class="movie ">
                                <figure class="movie-poster "><img src="../../assets/pictures/thumb-3.jpg " alt="# "></figure>
                                <div class="movie-title "><a href="single.html ">Maleficient</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                        </div>
                        <!-- .movie-list -->
                    </div>
                </div>
                <!-- .container -->
            </main>
            <footer class="site-footer ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-3 ">
                            <div class="widget ">
                                <h3 class="widget-title ">About Us</h3>
                                <p>We are a group of multidisciplinary engineering student at UCL with a passion for film and product development. </p>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="widget ">
                                <h3 class="widget-title ">Contact</h3>
                                <ul class="no-bullet ">
                                    <li>Email: zcabktu@ucl.ac.uk</li>
                                    <li>Call: +44 7444474060</li>
                                    <li> <br> University College London, <br> Gower Street, <br> London, WC1E 6BT </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->

                    <div class="colophon ">Copyright 2021 IMDB, No rights reserved</div>
                </div>
                <!-- .container -->

            </footer>
        </div>
        <!-- Default snippet for navigation -->



        <script src="js/jquery-1.11.1.min.js "></script>
        <script src="js/plugins.js "></script>
        <script src="js/app.js "></script>

    </body>
</ion-content>