.advanced-search {
    margin-bottom: 20px;
    display: flex;
    text-align: justify;
}

.search-bar {
    align-items: left;
    display: flex;
    text-align: justify;
}

.bar {
    align-items: left;
    display: inline;
    text-align: left;
    width: 50%;
    margin-right: 10px;
}

ion-searchbar {
    border-radius: 5%;
    background-color: none;
    align-items: left;
    text-align: left;
    position: relative;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    --background: #262626;
}

.advancedButton {
    text-align: right;
}

.advancedButton ion-button {
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 50px 10px 10px;
    background-color: #262626;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    outline: none;
    background-image: url(../../assets/icon/select.png);
    background-repeat: no-repeat;
    background-position: 100% center;
}

.breadcrumbs {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}

.main-content .container {
    border-radius: 5px;
    padding: 30px;
}

body {
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
}

.button {
    background: none;
    margin-bottom: 13px;
    color: white;
    padding: 0;
}

.filters {
    align-items: left;
    display: inline;
    text-align: left;
}

.tag-chips {
    position: relative;
    color: var(--ion-text-color);
}

.sortby {
    display: inline;
    text-align: left;
    margin-right: 0;
    margin-left: auto;
}

ion-badge {
    position: absolute;
    border-radius: 30%;
    margin: 7.5px;
    $badge-font-size: 2em;
    z-index: 1000;
}

.searchbar-input {
    border-radius: 5px;
}

.top_three {
    $badge-font-weight: 700;
}