<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>


    <body>


        <div id="site-content">
            <main class="main-content">
                <div class="container">
                    <div class="page">

                        <div class="filters">
                            <h2>Filters</h2>
                            <select name="#" id="#" placeholder="Category">
                              <option value="#">Action</option>
                              <option value="#">Drama</option>
                              <option value="#">Fantasy</option>
                              <option value="#">Horror</option>
                              <option value="#">Adventure</option>
                            </select>
                            <select name="#" id="#" placeholder="Year">
                              <option value="#">2012</option>
                              <option value="#">2013</option>
                              <option value="#">2014</option>
                            </select>
                            <select name="#" id="#" placeholder="Rating">
                              <option value="#">1+</option>
                              <option value="#">2+</option>
                              <option value="#">3+</option>
                              <option value="#">4+</option>
                            </select>
                            <ion-button> Reset
                            </ion-button>
                        </div>
                        <div class="movie-list">
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-3.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Maleficient</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-4.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">The adventure of Tintin</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-5.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Hobbit</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-6.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Exists</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-1.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Drive hard</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-2.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Robocop</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-7.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Life of Pi</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-4.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">The adventure of Tintin</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>
                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-8.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">The Colony</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-6.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Exists</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-5.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Hobbit</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                            <div class="movie">
                                <figure class="movie-poster"><img src="../../assets/pictures/thumb-3.jpg" alt="#"></figure>
                                <div class="movie-title"><a href="single.html">Maleficient</a></div>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
                            </div>

                        </div>
                        <!-- .movie-list -->
                    </div>
                </div>
                <!-- .container -->
            </main>
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widget">
                                <h3 class="widget-title">About Us</h3>
                                <p>We are a group of multidisciplinary engineering student at UCL with a passion for film and product development. </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget">
                                <h3 class="widget-title">Contact</h3>
                                <ul class="no-bullet">
                                    <li>Email: zcabktu@ucl.ac.uk</li>
                                    <li>Call: +44 7444474060</li>
                                    <li> <br> University College London, <br> Gower Street, <br> London, WC1E 6BT </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->

                    <div class="colophon">Copyright 2021 IMDB, No rights reserved</div>
                </div>
                <!-- .container -->

            </footer>
        </div>
        <!-- Default snippet for navigation -->



        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>

    </body>
</ion-content>