/*
 * Footer Styles
 */

.site-footer {
  padding: 50px 0;
  .widget {
    margin-bottom: 30px;
  }
  .widget-title {
    color: #bec1c8;
    font-weight: 300;
  }

  a {
    color: $body-color;
    transition: 0.3s ease;

    &:hover {
      color: $accent-color;
    }
  }

  .colophon {
    padding-top: 30px;
  }
}
